<h2>Players</h2>
<p>
  View the list of all registered players across various clubs. See their
  positions, ages, and affiliated clubs.
</p>
<p>
  Need to add a new player to your team? Just hit the "Add Player" button and
  get started.
</p>
<a href="/players/new">
  <button>Add New Player</button>
</a>
<ul class="playersList">
  <% players.forEach(player => { %>
  <li>
    <%= player.name %> — Position: <%= player.position %> — Age: <%= player.age
    %>
    <form action="/players/<%= player.id %>/edit" method="get">
      <button type="submit" class="editBtn">Edit</button>
    </form>
    <form action="/players/<%= player.id %>/delete" method="post">
      <button type="submit" class="deleteBtn">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
